/* General */
html { -webkit-font-smoothing: antialiased; }
/* Typography */
/* Font Family */
.roboto { font-family: "Roboto", sans-serif; }
/* Font Weights */
.fw4 { font-weight: 400; }
.fw5 { font-weight: 500; }
.fw7 { font-weight: 700; }
/* Font Sizes */
.f0_75 { font-size: 0.75rem; }
.f1 { font-size: 1rem; }
.f1_125 { font-size: 1.125rem; }
.f1_5 { font-size: 1.5rem; }
.f2 { font-size: 2rem; }
/* Line Height */
.lh1_25 { line-height: 1.25; }
/* Colors */
.black { color: #000000; }
.dark-gray { color: #828282; }
.gray { color: #bdbdbd; }
.green { color: #4CAF50; }
/* Backgrounds */
.bg-blue { background-color: #0080ff; }
.bg-silver { background-color: #eeeeee; }
/* Shadows */
.bs-0_12 { box-shadow: 0 1px 3px rgba(0,0,0,0.08), 0 1px 2px rgba(0,0,0,0.16); }
.bs-0_25 { box-shadow: 0 8px 16px rgba(0,0,0,0.10), 0 4px 4px rgba(0,0,0,0.05); }
/* Spacing */
.maa { margin: auto; }
.ma0 { margin: 0; }
.ma0_25 { margin: 0.25rem; }
.ma0_5 { margin: 0.5rem; }
.ma1 { margin: 1rem; }
.ma1_5 { margin: 1.5rem; }
.ma2 { margin: 2rem; }
.ma4 { margin: 4rem; }
/* Vertical Margins */
.mva { margin-top: auto; margin-bottom: auto; }
.mv0 { margin-top: 0; margin-bottom: 0; }
.mv0_25 { margin-top: 0.25rem; margin-bottom: 0.25rem; }
.mv0_5 { margin-top: 0.5rem; margin-bottom: 0.5rem; }
.mv1 { margin-top: 1rem; margin-bottom: 1rem; }
.mv1_5 { margin-top: 1.5rem; margin-bottom: 1.5rem; }
.mv2 { margin-top: 2rem; margin-bottom: 2rem; }
.mv4 { margin-top: 4rem; margin-bottom: 4rem; }
/* Horizontal Margins */
.mha { margin-right: auto; margin-left: auto; }
.mh0 { margin-right: 0; margin-left: 0; }
.mh0_25 { margin-top: 0.25rem; margin-bottom: 0.25rem; }
.mh0_5 { margin-right: 0.5rem; margin-left: 0.5rem; }
.mh1 { margin-right: 1rem; margin-left: 1rem; }
.mh1 { margin-right: 1.5rem; margin-left: 1.5rem; }
.mh2 { margin-right: 2rem; margin-left: 2rem; }
.mh4 { margin-right: 4rem; margin-left: 4rem; }
/* Top Margins */
.mta { margin-top: auto; }
.mt0 { margin-top: 0; }
.mt0_25 { margin-top: 0.25rem; }
.mt0_5 { margin-top: 0.5rem; }
.mt1 { margin-top: 1rem; }
.mt1_5 { margin-top: 1.5rem; }
.mt2 { margin-top: 2rem; }
.mt4 { margin-top: 4rem; }
.mt91x { margin-top: 91px; }
/* Right Margins */
.mra { margin-right: auto; }
.mr0 { margin-right: 0; }
.mr0_25 { margin-right: 0.25rem; }
.mr0_5 { margin-right: 0.5rem; }
.mr1 { margin-right: 1rem; }
.mr1_5 { margin-right: 1.5rem; }
.mr2 { margin-right: 2rem; }
.mr4 { margin-right: 4rem; }
/* Bottom Margins */
.mba { margin-bottom: auto; }
.mb0 { margin-bottom: 0; }
.mb0_25 { margin-bottom: 0.25rem; }
.mb0_5 { margin-bottom: 0.5rem; }
.mb1 { margin-bottom: 1rem; }
.mb1_5 { margin-bottom: 1.5rem; }
.mb2 { margin-bottom: 2rem; }
.mb4 { margin-bottom: 4rem; }
/* Left Margins */
.mla { margin-left: auto; }
.ml0 { margin-left: 0; }
.ml0_25 { margin-left: 0.25rem; }
.ml0_5 { margin-left: 0.5rem; }
.ml1 { margin-left: 1rem; }
.ml1_5 { margin-left: 1.5rem; }
.ml2 { margin-left: 2rem; }
.ml4 { margin-left: 4rem; }
/* Paddings */
.paa { padding: auto; }
.pa0 { padding: 0; }
.pa0_25 { padding: 0.25rem; }
.pa0_5 { padding: 0.5rem; }
.pa1 { padding: 1rem; }
.pa1_5 { padding: 1.5rem; }
.pa2 { padding: 2rem; }
.pa4 { padding: 4rem; }
/* Vertical Paddings */
.pva { padding-top: auto; padding-bottom: auto; }
.pv0 { padding-top: 0; padding-bottom: 0; }
.pv0_25 { padding-top: 0.25rem; padding-bottom: 0.25rem;}
.pv0_5 { padding-top: 0.5rem; padding-bottom: 0.5rem; }
.pv1 { padding-top: 1rem; padding-bottom: 1rem; }
.pv1_5 { padding-top: 1.5rem; padding-bottom: 1.5rem; }
.pv2 { padding-top: 2rem; padding-bottom: 2rem; }
.pv4 { padding-top: 4rem; padding-bottom: 4rem; }
/* Horizontal Paddings */
.pha { padding-right: auto; padding-left: auto; }
.ph0 { padding-right: 0; padding-left: 0; }
.ph0_25 { padding-right: 0.25rem; padding-left: 0.25rem;}
.ph0_5 { padding-right: 0.5rem; padding-left: 0.5rem; }
.ph1 { padding-right: 1rem; padding-left: 1rem; }
.ph1_5 { padding-right: 1.5rem; padding-left: 1.5rem; }
.ph2 { padding-right: 2rem; padding-left: 2rem; }
.ph4 { padding-right: 4rem; padding-left: 4rem; }
/* Top Paddings */
.pta { padding-top: auto; }
.pt0 { padding-top: 0; }
.pt0_25 { padding-top: 0.25rem; }
.pt0_5 { padding-top: 0.5rem; }
.pt1 { padding-top: 1rem; }
.pt1_5 { padding-top: 1.5rem; }
.pt2 { padding-top: 2rem; }
.pt4 { padding-top: 4rem; }
.pt5x { padding-top: 5px; }
/* Right Paddings */
.pra { padding-right: auto; }
.pr0 { padding-right: 0; }
.pr0_25 { padding-right: 0.25rem; }
.pr0_5 { padding-right: 0.5rem; }
.pr1 { padding-right: 1rem; }
.pr1_5 { padding-right: 1.5rem; }
.pr2 { padding-right: 2rem; }
.pr4 { padding-right: 4rem; }
/* Bottom Paddings */
.pba { padding-bottom: auto; }
.pb0 { padding-bottom: 0; }
.pb0_25 { padding-bottom: 0.25rem; }
.pb0_5 { padding-bottom: 0.5rem; }
.pb1 { padding-bottom: 1rem; }
.pb1_5 { padding-bottom: 1.5rem; }
.pb2 { padding-bottom: 2rem; }
.pb4 { padding-bottom: 4rem; }
/* Left Paddings */
.pla { padding-left: auto; }
.pl0 { padding-left: 0; }
.pl0_25 { padding-left: 0.25rem; }
.pl0_5 { padding-left: 0.5rem; }
.pl1 { padding-left: 1rem; }
.pl1_5 { padding-left: 1.5rem; }
.pl2 { padding-left: 2rem; }
.pl4 { padding-left: 4rem; }
/*
  TRANSITIONS
*/
/* Transition Functions */
.function-cb { -webkit-transition-timing-function: cubic-bezier(.25,.8,.25,1); transition-timing-function: cubic-bezier(.25,.8,.25,1); }
.function-eio { -webkit-transition-timing-function: ease-in-out; transition-timing-function: ease-in-out; }
/* Transition Durations */
.duration0_25 { -webkit-transition-duration: 0.25s; transition-duration: 0.25s; }
.duration0_3 { -webkit-transition-duration: 0.3s; transition-duration: 0.3s; }
.duration0_5 { -webkit-transition-duration: 0.5s; transition-duration: 0.5s; }
.duration1_5 { -webkit-transition-duration: 1.5s; transition-duration: 1.5s; }
/* Transition Properties */
.property-transform { -webkit-transition-property: transform; transition-property: transform; }
.property-opacity { -webkit-transition-property: opacity; transition-property: opacity; }
.property-all { -webkit-transition-property: all; transition-property: all; }
.property-color { -webkit-transition-property: color; transition-property: color; }
.property-background-color { -webkit-transition-property: background-color; transition-property: background-color; }
/*
  ANIMATABLE PROPERTIES
*/
.transform-tY0 { transform: translateY(0); }
.transform-tYm1_5 { transform: translateY(1.5rem); }
.transform-tYm0_5 { transform: translateY(0.5rem); }
.transform-tYm-0_5 { transform: translateY(-0.5rem); }
.o0 { opacity: 0; }
.o1 { opacity: 1; }
